/*  MOBILE */

.wrapper{
	width:100%;
}

 .header-top{
	width:100%;
}

.sub-title {
  width: 100%;
}

.header-middle {
  background-color: #ff99ff;
  width: 100%;
  height: 323px;
}

.header-bottom{
	width: 100%;
}

.main-content{
	width:100%;
}

.uppercontent{
	width:100%;
}

.lower-subcontent{
	width:100%;
}

.sub-content , .required{
	width:100%;
}

.content{
	width:100%;
	height: 460px;
	background-color: #003366;
}

.requirements{
	width: 80%;
}
.lower-subcontent{
	background-color: #33ccff;
}

.lower-content{
	width:100%;
}

.footer {
  width: 100%;
  height: 2150px;
}

.conabt{
	width:100%;
}

.lowerimage{
  display: none;
}

@media screen and (min-width: 800px){

.header-bottom img {
  width: 100%;
  /* margin-right: -50px; */
  /*margin-left: 47.3%;*/
  margin-top: 3%;
}

.header-middle {
  width: 100%;
  /* height: 61%; */
  /*height: 408px;*/
}

.header-middle p{
	padding-top: 100px;
}

.uppercontent {
  width: 60%;
}

.content {
  width: 49%;
  float: left;
  margin-top: 130px;
}


.lowercontent {
  float: left;
  width: 18%;
  margin-left: 55%;
  /* font-size: 21px; */
  margin-top: -3%;
}

.lower-subcontent{
  width:29%;
  background-color: #33ccff;
  float: left;
  position: relative;
  opacity: 0.7;
  z-index: 3;
}

        .conabt{
        	background-image: url("download-1.jpg");
        	background-color: #33ccff;;
        	height: 700px;
          position: absolute;
        }

        .main-content {
          margin-left: 10%;
          width: 100%;
          position: relative;
          margin-top: 42%;
        }

        .lowerimage{
          height: 500px;
        }

        .upper-footer {
            display: flex;
        }

        .middle-footer {
            display: flex;
            width: 80%;
            margin-left: 20%;
        }

        .footer {
            width: 100%;
            height: 50%;
            background-color: #ff99ff;
        }
}